<h1>Serach for movie</h1>

<form action="/results" method="get">
  <input type="text" name="search" placeholder="enter movie name">
<button>search for movie</button>
</form>
<a href="/results">See Results</a>